.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 16px;
  padding: 12px;
  background: #fff;
  color: #222;
  color: #4939f3;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0 0 0 / 5%);
}

.button {
  cursor: pointer;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  padding: 0.4em 0.8em;
  font-size: 1rem;
  background: #fdfdfd;
  color: inherit;
}

.button:not(:disabled):hover {
  box-shadow: inset 0 0 10px #e4e4e4;
}

.button:not(:disabled):active {
  scale: 0.96;
}

.button:disabled {
  cursor: not-allowed;
  color: #adadad;
}

.decrement {

}

.output {
  font-size: 20px;
  font-weight: 700;
}

.increment {

}