$white: #fff;
$black: #000;

$blue: #0074e9;
$vivid-white: #f4f4f4;
$light-gray: #cccccc;
$medium-gray: #aaa9a9;
$gray: #929292;
$dark-gray: #555555;
$red: #e52528;
$purple: #5d3ac0;

$disabled: (light blue: #d4e0ed, blue: #97aabd, gray: #dfdfdf);
