body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #0e739e;
  text-decoration: underline;
  text-underline-offset: 3px;
}

figure {
  /* shorthand: 속성 값을 묶어서 간단하게 작성하는 방식 */
  /* margin: top right bottom left;  */
  /* margin: 0 0 0 0; */
  /* margin: 0 0 0; */
  /* margin: 0 0; */
  margin: 0;

  /* margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; */
}

.Container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.Container--fluid {
  width: 100%;
  max-width: 1280px;
}

.content {
  padding: 32px;
  background-color: #460e6e;  
  color: white;
}

.navigation {
  padding: 32px;
  background-color: #0a7373;  
  color: white;
}
.main {
  padding: 32px;
  background-color: magenta;
  color: #610961;
}